# add .env to this when you get it, just setting it up so you guys can create it.
# .env has all the api keys so you guys will have to add the keys on your own versoin and make sure not to upload it so it doesnt get stolen.
.env